<div class="timer">
  <div>
    <button mat-raised-button
    [ngClass]="config.currentTimer == typeToHtml.Pomodoro ? 'b-color-black' : 'b-color-red'"
    (click)="setTime(config.pomodoro, typeToHtml.Pomodoro)">Pomodoro</button>

    <button mat-raised-button
    [ngClass]="config.currentTimer == typeToHtml.ShortBreak ? 'b-color-black' : 'b-color-red'"
    (click)="setTime(config.shortBreak, typeToHtml.ShortBreak)">Short Break</button>

    <button mat-raised-button
    [ngClass]="config.currentTimer == typeToHtml.LongBreak ? 'b-color-black' : 'b-color-red'"
    (click)="setTime(config.longBreak, typeToHtml.LongBreak)">Long Break</button>
  </div>

  <h1>{{ (counter$ | async)?.value | formatTime }}</h1>

  <ng-container *ngIf="showPlayButton else pauseButton">
    <button  mat-icon-button class="b-player" (click)="start()">
      <mat-icon class="player">play_circle_outline</mat-icon>
    </button>
  </ng-container>

<ng-template #pauseButton>
  <button  mat-icon-button class="b-player" (click)="pause()">
    <mat-icon class="player">pause_circle_outline</mat-icon>
  </button>
</ng-template>

</div>
